# ■ビルドバージョン
# 【1.0】
buildVersion=1.1

# ■設定ファイルのパス(ブランクの場合はclasses直下)
# 【/opt/phr/】
config.path=phr/phr-root/

# ■設定ファイル名
# 【ssmix2storageMaker.config】
config.filename=ssmix2storageMaker.config


# ■健診XML取得用CSVコンバータスキーマパス
# 【/opt/csvconverter/XSD/hc08_V08.xsd】
schem.path=/opt/csvconverter/XSD/hc08_V08.xsd
