@charset "utf-8";

/* Setting
----------------------------------------------------------- */
/* block type */
.section {
	clear: both;
	position:relative;
	margin:1em auto;
	padding:0;
	width:670px;
	height:300px;
	background-color:#fff;
	border:solid #ADE 1px;
	border-radius:10px;
}

.section-login {
	clear: both;
	position:relative;
	margin:1em auto;
	padding:0;
	width:670px;
	height:300px;
	background-color:#fff;
	border:solid #ADE 1px;
	border-radius:10px;
}

.section-title {
	clear: both;
	position:relative;
	margin: 1em auto;
	padding:0;
	width:670px;
	height:50px;
	background-color:#fff;
	border:solid #ADE 1px;
	border-radius:10px;
}

/* table */
.tablestyle {
	margin:0;
	padding:10px 20px 5px;
}
table.fmt01 {
	width:100%;
	margin:0 auto;
}

