# ■データベースホスト
#   localhost
# 【localhost】
database.host=localhost

# ■データベースポート
#   3306
# 【3306】
database.port=3306

# ■データベース名称
#   PHRDB
# 【phrdb】
database.name=phrdb

# ■データベースユーザー
#   phr_user
# 【phr】
database.user=phr

# ■データベースパスワード
#   phr_pass
# 【phr】
database.password=phr

# ■パスワードの最小文字数
# 【8】
password_min_digits=8

# ■パスワードの設定文字モード
#   0：制限なし  1：英字 数字 混在  2：英字 数字 記号 混在  3：大文字 小文字 数字 記号 混在
# 【3】
password_mode=3

# ■パスワード変更時、同一パスワードの設定許可
#   true:許可する、false:許可しない
# 【true】
same_pw_settings=true

# ■パスワード有効期間（単位：日）
# 【30】
password_validity_period=30

# ■SS-MIX2ストレージ
# 【/opt/phr/storage】
storage_path=/opt/phr/storage

# ■バックアップ用SS-MIX2ストレージ作成フォルダ
# 【/opt/phr/backup】
backup_storage=/opt/phr/backup

# ■MInCSからのデータを受信するフォルダパス
#   C:\\PHRwork\\MInCSData
# 【C:\\PHRwork\\MInCSData】
mincs_data_path=C:\\PHRwork\\MInCSData

# ■MInCSからのデータを受信するフォルダパス
#   C:\\PHRwork\\key
# 【C:\\PHRwork\\key】
mincs_key_path=C:\\PHRwork\\key

# ■MInCSからのデータを受信するフォルダパス
#   C:\\PHRwork\\Success
# 【C:\\PHRwork\\Success】
mincs_result_success_path=C:\\PHRwork\\Success

# ■MInCSからのデータを受信するフォルダパス
#   C:\\PHRwork\\Fail
# 【C:\\PHRwork\\Fail】
mincs_result_failed_path=C:\\PHRwork\\Fail

# ■MInCS受信したデータを展開するフォルダパス
#   C:\\PHRwork\\Data
# 【C:\\PHRwork\\Data】
mincs_decompress_path=C:\\PHRwork\\Data

# ■リマインダプッシュメッセージ対象を抽出したデータを持つファイルのパス
#   C:\\PHRwork\\Data\\ReminderTargetFile.json
# 【C:\\PHRwork\\Data\\ReminderTargetFile.json】
reminder_target_file_path=C:\\PHRwork\\Data\\ReminderTargetFile.json

# ■バックアップセンターのPHR事業者番号
# 【1234567890】
backup.phr.association.no=123456789

# ■バックアップセンターのバックアップログインID
# 【kis.phr.backup】
backup.center.backup.loginid=test001

# ■バックアップセンターのバックアップ用パスワード
# 【pass001】
backup.center.backup.password=Abcd_1234

# ■バックアップセンターのリストア用ログインID
# 【kis.phr.restore】
backup.center.restore.loginid=test001

# ■バックアップセンターのリストア用パスワード
# 【pass002】
backup.center.restore.password=Abcd_1234

# ■バックアップセンターの基底URL
# 【http://localhost:8080/PHRBackupIF/】
backup.center.url.base=https://bctest.j-phr.jp/PHRBackupViewWeb/

# ■バックアップセンタークライアント証明書有無
# 【true】
backup.center.client.auth=true

# ■バックアップセンタークライアント証明書ファイル
# 【/opt/phr/cert/keystore】
backup.center.client.cert.file=/opt/phr/cert/keystore.key

# ■バックアップセンタークライアント証明書PIN
# 【1234】
backup.center.client.cert.pin=phr-backu_pcl12

# ■バックアップセンタークライアントCA証明書ファイル
# 【/opt/phr/cert/truststore】
backup.center.client.cacert.file=/opt/phr/cert/truststore.key

# ■バックアップセンタークライアント証明書キーストアパスワード
# 【1234】
backup.center.client.keystore.password=backu_pcl12

# ■バックアップセンターのバックアップ情報送付URL
# 【backupInfoReceive】
backup.center.backup.info.url=backupInfoReceive

# ■バックアップセンターのバックアップデータ送付URL
# 【backupDataReceive】
backup.center.backup.data.url=backupDataReceive

# ■バックアップセンターのリストア情報送付URL
# 【restoreInfoReceive】
backup.center.restore.info.url=restoreInfoReceive

# ■バックアップセンターのリストア完了通知URL
# 【restoreFinishReceive】
backup.center.restore.finish.url=restoreFinishReceive

# ■バックアップセンターのリストア（移動）情報送付URL
# 【transferInfoReceive】
backup.center.transfer.info.url=transferInfoReceive

# ■バックアップセンターのリストア（移動）完了通知URL
# 【transferFinishReceive】
backup.center.transfer.finish.url=transferFinishReceive

# ■バックアップセンターのリストア（プロジェクト移動）情報送付URL
# 【transferProjectInfoReceive】
backup.center.transfer.project.info.url=transferProjectInfoReceive

# ■バックアップセンターのリストア（プロジェクト移動）完了通知URL
# 【transferProjectFinishReceive】
backup.center.transfer.project.finish.url=transferProjectFinishReceive

# ■バックアップセンターの削除用URL
# 【deleteReceive】
backup.center.delete.url=deleteReceive

# ■リストアファイル一時置き場
# 【/opt/restore】
backup.center.restore.file.path=/opt/restore

# ■健診XMLファイル保存フォルダ
# 【/opt/phr/data】
checkup.save.path=/opt/phr/data

# ■FHIRサーバのベースURL
# 【http://localhost:8099/fructos_api_war_exploded】
fhir.server.base.url=http://localhost:8099/fructos_api_war_exploded

# ■患者ID取得時のPatient.identifier.systemの値
# 【patient_indentifier_system】
patient_indentifier_system=http://example.org/patient

# ■医療機関コード取得時のOrganization.identifier.systemの値
# 【organization_identifier_system】
organization_identifier_system=http://example.org/organization

# ■検査依頼ID取得時のServiceRequest.identifier.systemの値
# 【servicerequest_identifier_system】
servicerequest_identifier_system=http://example.org/serviceRequest

# ■バッチ処理を行う一定時間間隔（分）
# 【batch_time_interval】
batch_time_interval=720

# ■測定・全検査結果画面の背景色（検査結果）
# 【exam_background_color】
exam_background_color=#6495ed

# ■測定・全検査結果画面の背景色（自己測定）
# 【self_background_color】
self_background_color=#ff8c00

# ■測定・全検査結果画面の背景色（特定健診）
# 【checkup_background_color】
checkup_background_color=#7acc52

# ■アラート時の背景色
# 【alert_background_color】
alert_background_color=#fff2b3

# ■特定健診XMLファイル一時保存場所
# 【/save/phr/xml】
xml_path=/save/phr/xml

# ■ダイナミックコンセントの利用停止を行う間隔（日）
# 【dynamicConsent_stop_interval】
dynamicConsent_stop_interval=90
