<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543383205884-gc98e03ugtgbh4g5df7nspt4gm13oioj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543383205884-gc98e03ugtgbh4g5df7nspt4gm13oioj</string>
	<key>API_KEY</key>
	<string>AIzaSyAWMYeCqIt3cq4MA_V0Z2U1RfGM7dY9DAs</string>
	<key>GCM_SENDER_ID</key>
	<string>543383205884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.jp.PHRPhone</string>
	<key>PROJECT_ID</key>
	<string>phr-phone-7a7de</string>
	<key>STORAGE_BUCKET</key>
	<string>phr-phone-7a7de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543383205884:ios:b01553185c75585e9f2479</string>
</dict>
</plist>