# ■データベースホスト
#   localhost
# 【192.168.5.3】
database.host=192.168.5.3

# ■データベースポート
#   3306
# 【3306】
database.port=3306

# ■データベース名称
#   PHRDB
# 【PHRDB】
database.name=PHRDB

# ■データベースユーザー
#   phr_user
# 【phr_user】
database.user=phr_user

# ■データベースパスワード
#   phr_pass
# 【phr_user】
database.password=phr_user

# ■パスワードの最小文字数
# 【8】
password_min_digits=8

# ■パスワードの設定文字モード
#   0：制限なし  1：英字 数字 混在  2：英字 数字 記号 混在  3：大文字 小文字 数字 記号 混在
# 【3】
password_mode=3

# ■パスワード変更時、同一パスワードの設定許可
#   true:許可する、false:許可しない
# 【true】
same_pw_settings=true

# ■パスワード有効期間（単位：日）
# 【30】
password_validity_period=30

# ■SS-MIX2ストレージ
# 【/opt/phr/storage】
storage_path=/opt/phr/storage

# ■バックアップ用SS-MIX2ストレージ作成フォルダ
# 【/opt/phr/backup】
backup_storage=/opt/phr/backup

