<ons-page ng-controller="backupRestoreCtrl" ng-init="startload();">
	<ons-toolbar style="background: #69BB7B">
		<div class="left"><ons-back-button ng-click="backAction()" style="font-size: smaller;">戻る</ons-back-button></div>
		<div class="center" style="color: #fff">バックアップ・リストア</div>
		<div class="right"></div>
	</ons-toolbar>
	
	<form name="backupRestoreDataForm">
		<ons-list style="margin-left:-15px;">
			<div>
				<ons-list-item>
					<ons-row>
						<ons-col width="50%" >
							<div id="tabBackupButton" style="text-align: center; color: purple; width: 100%">
								<ons-toolbar-button ng-click="tabChanged( false )" style=" display: flex; flex: 1 1 0; flex-direction: column; justify-content: center; position: relative; text-align: center; text-overflow: ellipsis; white-space: nowrap;height: 2.8rem; line-height: 2.6rem;">
									<ons-icon icon="cloud-upload" size="30px" style="align-self: center; max-width: 100%;color:#000080;"></ons-icon>
									<span style="align-self: center; max-width: 100%;min-width: 35px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; font-size: 16px; line-height: 16px;color:#000080;">バックアップ</span>
								</ons-toolbar-button>
							</div>
						</ons-col>
						<ons-col width="50%" >
							<div id="tabRestoreButton" style="float: right; color: purple; width: 100%">
								<ons-toolbar-button ng-click="tabChanged( true )" style=" display: flex; flex: 1 1 0; flex-direction: column; justify-content: center; position: relative; text-align: center; text-overflow: ellipsis; white-space: nowrap;height: 2.8rem; line-height: 2.6rem;">
									<ons-icon icon="cloud-download" size="30px" style="align-self: center; max-width: 100%;color:#000080;"></ons-icon>
									<span style="align-self: center; max-width: 100%;min-width: 35px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; font-size: 16px; line-height: 16px;color:#000080;">リストア</span>
								</ons-toolbar-button>
							</div>
						</ons-col>
					</ons-row>
				</ons-list-item>
			</div>
			<div>
				<ons-list-item>
					<ons-row >
						<ons-col width="10%" align="center">
							<ons-icon
									icon="caret-square-o-right"
									size="25px"
									fixed-width="false"
									style="color: #FFA713; padding-right: 2px;">
							</ons-icon>
						</ons-col>
						<ons-col width="20%" align="center" style="color: #00f; margin-left: 2px;text-align: left">
							状態
						</ons-col>
						<ons-col width="68%" align="center" >
							<div id="statusArea" class="left" style="color: #00f; margin-left: 15px;text-align: left"></div>
						</ons-col>
					</ons-row>
				</ons-list-item>
			</div>
			<div>
				<ons-list-item>
					<ons-row >
						<ons-col width="10%" align="center">
							<ons-icon
									icon="commenting-o"
									size="25px"
									fixed-width="false"
									style="color: #FFA713; padding-right: 2px;">
							</ons-icon>
						</ons-col>
						<ons-col width="88%" align="center">
							<span id="messageArea1" class="left" style="color: #00f; margin-left: 2px;"></span>
							<span id="messageArea2" class="left" style="color: #00f; margin-left: 2px;"></span>
						</ons-col>
					</ons-row>
				</ons-list-item>
			</div>
                 
			<div id="passwordLine">
				<ons-list-item>
					<ons-row >
						<ons-col width="10%" align="center">
							<ons-icon
									icon="key"
									size="25px"
									fixed-width="false"
									style="color: #FFA713; padding-right: 2px;">
							</ons-icon>
						</ons-col>
						<ons-col width="24%" align="center" style="color: #00f; margin-left: 2px;text-align: left">
							パスワード
						</ons-col>
						<ons-col width="65%">
							<div class="left" style="color: #00f; margin-left: 15px">
								<ons-input	
									type="text" 
									placeholder="パスワード" 
									name="bkPassword" 
									maxlength="12" 
									material 
									float 
									ng-pattern="/^[0-9a-zA-Z]{4,12}$/" 
									ng-model="backupRestoreData.bkPassword" 
									ng-required="true"></ons-input>
								<span ng-show="backupRestoreDataForm.bkPassword.$error.required" style="color:red;font-size:smaller;vertical-align: middle;"><br/>パスワードを入力してください</span>
							</div>
						</ons-col>
					</ons-row>
				</ons-list-item>
			</div>
			<div id="oldPhrIdLine">
				<ons-list-item>
					<ons-row>
						<ons-col width="10%" align="center">
							<ons-icon
									icon="user"
									size="25px"
									fixed-width="false"
									style="color: #FFA713; padding-right: 2px;">
							</ons-icon>
						</ons-col>
						<ons-col width="20%" align="center" style="color: #00f; margin-left: 2px;text-align: left">
							利用者ID<br/>(PHR-ID)
						</ons-col>
						<ons-col width="68%" align="center">
							<div class="left" style="color: #00f; margin-left: 15px">
								<ons-input type="text" placeholder="バックアップ時の利用者ID" name="oldPhrId" maxlength="14" material float ng-pattern="/^[0-9]{7}-[0-9]{6}$/" ng-model="backupRestoreData.oldPhrId" ng-required="true"></ons-input>
								<span ng-show="backupRestoreData.oldPhrId.$error.required" style="color:red;font-size:smaller;vertical-align: middle;"><br/>バックアップ時の利用者番号を入力してください</span>
							</div>
						</ons-col>
					</ons-row>
				</ons-list-item>                            
				<ons-list-item>
					<ons-row>
						<ons-col width="10%" align="center">
							<ons-icon
									icon="fa-building-o"
									size="25px"
									fixed-width="false"
									style="color: #FFA713; padding-right: 2px;">
							</ons-icon>
						</ons-col>
						<ons-col width="20%" align="center" style="color: #00f; margin-left: 2px;text-align: left">
							事業者ID
						</ons-col>
						<ons-col width="68%" align="center">
							<div class="left" style="color: #00f; margin-left: 15px">
								<ons-input type="text" placeholder="バックアップ時の事業者ID" name="phrAssociationId" maxlength="14" material float ng-model="backupRestoreData.phrAssociationId" ng-required="true"></ons-input>
								<span ng-show="backupRestoreData.phrAssociationId.$error.required" style="color:red;font-size:smaller;vertical-align: middle;"><br/>バックアップ時の事業者IDを入力してください</span>
							</div>
						</ons-col>
					</ons-row>
				</ons-list-item>
				<ons-list-item>
					<ons-row>
						<ons-col width="10%" align="center">
							<ons-icon
									icon="ion-person-stalker"
									size="25px"
									fixed-width="false"
									style="color: #FFA713; padding-right: 2px;">
							</ons-icon>
						</ons-col>
						<ons-col width="20%" align="center" style="color: #00f; margin-left: 2px;text-align: left">
							プロジェクトID
						</ons-col>
						<ons-col width="68%" align="center">
							<div class="left" style="color: #00f; margin-left: 15px">
								<ons-input type="text" placeholder="バックアップ時のプロジェクトID" name="projectId" maxlength="7" material float ng-pattern="/^[0-9]{7}$/" ng-model="backupRestoreData.projectId" ng-required="true"></ons-input>
								<span ng-show="backupRestoreData.projectId.$error.required" style="color:red;font-size:smaller;vertical-align: middle;"><br/>バックアップ時のプロジェクトIDを入力してください</span>
							</div>
						</ons-col>
					</ons-row>
				</ons-list-item>
			</div>
		</ons-list>
	</form>
		
	<ons-bottom-toolbar style="height: 3.4rem;">
		<div id="removeButton" style="float: right; width: 23%">
			<ons-toolbar-button ng-click="goRemove()" ng-disabled="backupRestoreDataForm.bkPassword.$invalid" style="color: darkslategrey; display: flex; flex: 1 1 0; flex-direction: column; justify-content: center; position: relative; text-align: center; text-overflow: ellipsis; white-space: nowrap;height: 2.8rem; line-height: 2.6rem;">
				<ons-icon icon="eraser" size="30px" style="align-self: center; max-width: 100%;"></ons-icon>
				<span style="align-self: center; max-width: 100%;min-width: 35px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; font-size: 16px; line-height: 16px">消去</span>
			</ons-toolbar-button>
		</div>
		<div id="reloadButton" style="float: right; width: 23%">
			<ons-toolbar-button ng-click="goReload()" style="color: darkslategrey; display: flex; flex: 1 1 0; flex-direction: column; justify-content: center; position: relative; text-align: center; text-overflow: ellipsis; white-space: nowrap;height: 2.8rem; line-height: 2.6rem;">
				<ons-icon icon="refresh" size="30px" style="align-self: center; max-width: 100%;"></ons-icon>
				<span style="align-self: center; max-width: 100%;min-width: 35px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; font-size: 16px; line-height: 16px">更新</span>
			</ons-toolbar-button>
		</div>
		<div id="restroreButton" style="float: right; width: 25%">
			<ons-toolbar-button ng-click="goRestore()" ng-disabled="backupRestoreDataForm.$invalid" style="color: darkslategrey; display: flex; flex: 1 1 0; flex-direction: column; justify-content: center; position: relative; text-align: center; text-overflow: ellipsis; white-space: nowrap;height: 2.8rem; line-height: 2.6rem;">
				<ons-icon icon="cloud-download" size="30px" style="align-self: center; max-width: 100%;"></ons-icon>
				<span style="align-self: center; max-width: 100%;min-width: 45px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; font-size: 13px; line-height: 16px">リストア</span>
			</ons-toolbar-button>
		</div>
		<div id="backupButton" style="float: right; width: 29%">
			<ons-toolbar-button ng-click="goBackup()" ng-disabled="backupRestoreDataForm.bkPassword.$invalid" style="color: darkslategrey; display: flex; flex: 1 1 0; flex-direction: column; justify-content: center; position: relative; text-align: center; text-overflow: ellipsis; white-space: nowrap;height: 2.8rem; line-height: 2.6rem;">
				<ons-icon icon="cloud-upload" size="30px" style="align-self: center; max-width: 100%;"></ons-icon>
				<span style="align-self: center; max-width: 130%;min-width: 45px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; font-size: 13px; line-height: 16px">バックアップ</span>
			</ons-toolbar-button>
		</div>
	</ons-bottom-toolbar>
</ons-page>

