<ons-page ng-controller="backupRestoreCtrl" ng-init="startload();">
	<ons-toolbar style="background: #69BB7B">
		<div class="left"><ons-back-button ng-click="backAction()" style="font-size: smaller;">戻る</ons-back-button></div>
		<div class="center" style="color: #fff">バックアップ・リストア</div>
		<div class="right"></div>
	</ons-toolbar>
	
        <div style="margin:200px auto auto auto;text-align: center;">
        <ons-icon icon="ion-android-alert" size="30px" style="align-self: center; max-width: 100%;color:#000080;"></ons-icon>
        バックアップセンターが開設準備中のため、この機能は利用できません。
        </div>
        

</ons-page>

