<ons-page ng-controller="cooperationDetailCtrl">
    <ons-toolbar style="background: #69BB7B">
        <div class="left" ><ons-back-button style="font-size: smaller;">一覧へ</ons-back-button></div>
        <div class="center" style="color: #fff">医療機関登録</div>
        <div class="right">
           <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="bars" style="color: #fff"></ons-icon></ons-toolbar-button>
        </div>
    </ons-toolbar>

    <div id="editType">
        <form class="form-inline" name="inputForm">
            <ons-list>
                <ons-list-item>
                    <ons-row>
                        <ons-col width="10%" align="bottom">
                            <ons-icon
                                icon="hospital-o"
                                size="25px"
                                fixed-width="false"
                                style="color: #FFA713; padding-right: 10px;">
                            </ons-icon>
                        </ons-col>
                        <ons-col align="bottom" width="45%" style="color: #00f;text-align: left;font-size: smaller;">
                            医療機関コード
                        </ons-col>
                        <ons-col width="45%" align="bottom" style="color: #000;text-align: left">
                            {{oneCooperationData.medicalAgencyCode}}
                        </ons-col>
                    </ons-row>
                </ons-list-item>
                <ons-list-item>
                    <ons-row>
                        <ons-col width="10%" align="bottom">
                            <ons-icon
                                icon="user"
                                size="25px"
                                fixed-width="false"
                                style="color: #FFA713; padding-right: 10px;">
                            </ons-icon>
                        </ons-col>
                        <ons-col align="bottom" width="45%" style="color: #00f;text-align: left;font-size: smaller;">
                            医療機関での患者ID
                        </ons-col>
                        <ons-col align="bottom" width="45%" style="color: #000;text-align: left;">
                            <ons-input style="width: 85%;border-bottom: 1px solid #ccc;" maxlength="20" name="patientId" placeholder="" float ng-model="oneCooperationData.patientId" ng-required="true"></ons-input>
                            <span ng-show="inputForm.patientId.$error.required" style="color:red;font-size:smaller;"><br/>必須です</span>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
                <ons-list-item>
                    <ons-row>
                        <ons-col width="10%" align="bottom">
                            <ons-icon
                                    icon="commenting-o"
                                    size="25px"
                                    fixed-width="false"
                                    style="color: #FFA713; padding-right: 10px;">
                            </ons-icon>
                        </ons-col>
                        <ons-col width="90%" align="bottom" style="color: #000;text-align: left">
                            {{oneCooperationData.message}}
                        </ons-col>
                    </ons-row>
                </ons-list-item>
            </ons-list>
        </form>
    </div>
    <br>
        <ons-carousel  style="margin-left: 20px;margin-right: 20px;width: 95%; height: 420px">
            <ons-carousel-item item-height="100%" style="font-size: smaller;"> 
                    <ons-row>
                        <ons-col align="top" width="10%">
                            <ons-icon
                                icon="hospital-o"
                                size="25px"
                                fixed-width="false"
                                style="color: #FFA713; padding-right: 10px;">
                            </ons-icon>
                        </ons-col>
                        <ons-col align="center" width="90%" style="text-align: left">
                医療機関コード：<br>
                &nbsp;&nbsp;&nbsp;「都道府県コード：2桁」<br>
                &nbsp;&nbsp;&nbsp;「点数区分コード：1桁」<br>
                &nbsp;&nbsp;&nbsp;「機関ごとのコード：7桁」<br>
                &nbsp;の10桁のコードを登録します。<br>
                <br>
                        </ons-col>
                    </ons-row>
                    <ons-row>
                        <ons-col align="top" width="10%">
                            <ons-icon
                                icon="user"
                                size="25px"
                                fixed-width="false"
                                style="color: #FFA713; padding-right: 10px;">
                            </ons-icon>
                        </ons-col>
                        <ons-col align="center" width="90%" style="text-align: left">
                 医療機関での患者ID：<br>
                &nbsp;&nbsp;&nbsp;医療機関で使用している患者IDを<br>
                &nbsp;&nbsp;&nbsp;登録します。<br>
                       </ons-col>
                    </ons-row>
                <ons-row>
                <br>
                登録する内容については医療機関に確認してください。
                </ons-row>
                <ons-row>
                    <ons-col width="260px" align="left">
                        <br><br>
                        あなたが登録した医療健康情報を、当該医療機関の医療従事者が閲覧することを同意します。
                    </ons-col>
                    <ons-col align="center">
                        <div align="center">
                            <br><br><br>
                            <label class="switch_label">
                                <input type="checkbox" id="check" class="switch_input" ng-model="oneCooperationData.agreesToShare" />
                                <span class="switch_content"></span>
                                <span class="switch_circle"></span>
                            </label>
                        </div>
                        <style>
                            .switch_label {
                                width: 37px;
                                position: relative;
                                display: inline-block;
                                padding-top: 3px;
                            }
                            .switch_content {
                                display: block;
                                cursor: pointer;
                                position: relative;
                                border-radius: 7px;
                                height: 14px;
                                background-color: rgba(34,31,31,.26);
                                -webkit-transition: all .1s .4s;
                                   -moz-transition: all .1s .4s;
                                    -ms-transition: all .1s .4s;
                                     -o-transition: all .1s .4s;
                                        transition: all .1s .4s;
                                overflow: hidden;
                            }
                            .switch_content:after {
                                content: "";
                                display: block;
                                position: absolute;

                                width: 0;
                                height: 100%;
                                top: 0;
                                left: 0;
                                border-radius: 7px;
                                -webkit-transition: all .5s;
                                   -moz-transition: all .5s;
                                    -ms-transition: all .5s;
                                     -o-transition: all .5s;
                                        transition: all .5s;
                            }
                            .switch_input {
                                display: none;
                            }
                            .switch_circle {
                                display: block;
                                top: 0px;
                                left: 0px;
                                position: absolute;
                                width: 20px;
                                height: 20px;
                                -webkit-border-radius: 10px;
                                        border-radius: 10px;
                                background-color: #F1F1F1;
                                -webkit-transition: all .5s;
                                   -moz-transition: all .5s;
                                    -ms-transition: all .5s;
                                     -o-transition: all .5s;
                                        transition: all .5s;
                                -webkit-box-shadow: 0 2px 2px #ccc;
                                        box-shadow: 0 2px 2px #ccc;
                            }
                            .switch_input:checked ~ .switch_circle {
                                left: 18px;
                                background-color: #00c4cc;
                            }
                            .switch_input:checked ~ .switch_content {
                                border-color: transparent;
                                -webkit-transition: all 0s;
                                   -moz-transition: all 0s;
                                    -ms-transition: all 0s;
                                     -o-transition: all 0s;
                                        transition: all 0s;
                            }
                            .switch_input:checked ~ .switch_content:after {
                                background-color: rgba(55 190 176 / 25%);
                                width: 100%;
                            }
                        </style>
                    </ons-col>
                </ons-row>
            </ons-carousel-item>
        </ons-carousel>
<!--
    <ons-bottom-toolbar style="height: 65px">
        <table style="width:100%;">
            <tr>
                <td style="text-align: center;" id="editType1">
                    <ons-toolbar-button ng-click="deleteConfirm(oneCooperationData )">
                        <ons-icon icon="fa-trash" size="30px" style="align-self: center; max-width: 100%;"></ons-icon>
                        <br/>
                        <span style="align-self: center; max-width: 100%;min-width: 35px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; font-size: 16px; line-height: 16px">　削除</span>
                    </ons-toolbar-button>
                </td>
                <td style="text-align: center;" id="editType2">
                    <ons-toolbar-button ng-disabled="inputForm.$invalid" ng-click="entryConfirm(oneCooperationData )" >
                        <ons-icon icon="fa-pencil" size="30px" style="align-self: center; max-width: 100%;"></ons-icon>
                        <br/>
                        <span style="align-self: center; max-width: 100%;min-width: 35px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; font-size: 16px; line-height: 16px">　更新</span>
                    </ons-toolbar-button>
                </td>
            </tr>
        </table>
    </ons-bottom-toolbar>
-->
    <ons-bottom-toolbar style="height: 3.4rem;">
      <div style="float: left; width: 50%">
        <ons-toolbar-button ng-click="deleteConfirm(oneCooperationData )" style="color: darkslategrey; display: flex; flex: 1 1 0; flex-direction: column; justify-content: center; position: relative; text-align: center; text-overflow: ellipsis; white-space: nowrap;height: 2.8rem; line-height: 2.6rem;">
          <ons-icon icon="fa-trash" size="30px" style="align-self: center; max-width: 100%;"></ons-icon>
          <span style="align-self: center; max-width: 100%;min-width: 35px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; font-size: 16px; line-height: 16px">削除
          </span>
        </ons-toolbar-button>
      </div>
      <div style="float: right; width: 50%">
        <ons-toolbar-button ng-click="entryConfirm(oneCooperationData )" ng-disabled="inputForm.$invalid" style="color: darkslategrey; display: flex; flex: 1 1 0; flex-direction: column; justify-content: center; position: relative; text-align: center; text-overflow: ellipsis; white-space: nowrap;height: 2.8rem; line-height: 2.6rem;">
          <ons-icon icon="fa-pencil" size="30px" style="align-self: center; max-width: 100%;"></ons-icon>
          <span style="align-self: center; max-width: 100%;min-width: 35px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; font-size: 16px; line-height: 16px">更新</span>
        </ons-toolbar-button>
      </div>
    </ons-bottom-toolbar>

</ons-page>
