<link rel="stylesheet" href="lib/onsenui/css/onsen-css-components-blue-basic-theme.css">

<ons-page ng-controller="oneTimePasswordCtrl">
    <ons-toolbar style="background: #69BB7B">
        <div class="left"></div>
        <div class="center" style="color: #fff">ワンタイムパスワード</div>
        <div class="right">
            <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="bars" style="color: #fff"></ons-icon></ons-toolbar-button>
        </div>
    </ons-toolbar>

    <form class="form-inline">
        <ons-list>
            <ons-list-item>
                <ons-row>
                    <ons-col width="5%"></ons-col>
                    <ons-col align="bottom" width="30%" style="color: #00f;text-align: left">
                       パスワード
                    </ons-col>
                    <ons-col align="bottom" width="65%" style="color: #000;text-align: left">
                        {{oneTimePassword.password}}
                    </ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item>
                <ons-row>
                    <ons-col width="5%"></ons-col>
                    <ons-col align="bottom" width="30%" style="color: #00f;text-align: left">
                        有効期限
                    </ons-col>
                    <ons-col align="bottom" width="65%" style="color: #000;text-align: left">
                        {{oneTimePassword.expirationDate}}
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
        <br>
        <br>
		<div style="text-align: center;" id="sendOneTimePassword">
			<ons-row>
				<ons-col ng-click="sendOneTimePassword()">
					<ons-icon icon="ion-compose" size="30px" style="align-self: center; max-width: 100%;" ></ons-icon>
					<br>
					<span style="align-self: center; max-width: 100%;min-width: 35px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; font-size: 16px; line-height: 16px">ワンタイムパスワードを通知する</span>
				</ons-col>
			</ons-row>
		</div>
		<div style="text-align: center;" id="sentOneTimePassword">
			<ons-row>
				<ons-col>
					<ons-icon icon="ion-checkmark-circled" size="30px" style="color:green; align-self: center; max-width: 100%;" ></ons-icon>
					<span style="color:black;align-self: center; max-width: 100%;min-width: 35px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; font-size: 16px; line-height: 16px">ワンタイムパスワードを通知しました</span>
				</ons-col>
			</ons-row>
		</div>
    </form>

    <ons-bottom-toolbar style="height: 3.4rem;">
      <div style="float: left; width: 50%">
      </div>      
      <div style="float: right; width: 50%">
        <ons-toolbar-button ng-click="goToMainMenu()" style="color: darkslategrey; display: flex; flex: 1 1 0; flex-direction: column; justify-content: center; position: relative; text-align: center; text-overflow: ellipsis; white-space: nowrap;height: 2.8rem; line-height: 2.6rem;">
          <ons-icon icon="angle-right" size="30px" style="align-self: center; max-width: 100%;"></ons-icon>
          <span style="align-self: center; max-width: 100%;min-width: 35px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; font-size: 16px; line-height: 16px">メニューへ</span>
        </ons-toolbar-button>
      </div>
    </ons-bottom-toolbar>
</ons-page>
